<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-2">
  <div class="container">
    <a class="navbar-brand fw-bold text-primary" href="/">话题墙</a>
    <div class="ms-auto">
       <%= link_to '首页', root_path, class: "nav-link d-inline me-3 text-secondary" %>
    </div>
  </div>
</nav>
