version: '3'

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        NODE_VERSION: 19
        VARIANT: 3.1-bullseye
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity

    # Uncomment to connect as root instead. More info: https://aka.ms/dev-containers-non-root.
    # user: root

  postgres:
    image: postgres:15-bullseye
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./create-db-user.sql:/docker-entrypoint-initdb.d/create-db-user.sql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redis-data:/data

volumes:
  postgres-data:
  redis-data:
